:root {
  color-scheme: light;
  /* Colours */
  --color-bg: light-dark(#7196ff, #111134); /* page background /*


  /* Header */
  --color-head-bg: light-dark(#736de3, #303e65);

  /* Logotype */
  --color-logotype-bg: light-dark(#a73f43, #6b292b);
  --color-text-logotype: #fffae2;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: light-dark(#a73f43, #6b292b);
  --burger-color-menu: light-dark(#333, white);

  /* Links */
  --color-link-bg: #78766e;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 2rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: light-dark(#736de3, #303e65);
  --color-headline-text-page: #f5f5dc;

  /* Tekst */
  --color-text: light-dark(#000, white);
  --color-text-inverted: light-dark(#cdccc4);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /*  Cards */
  --color-card-bg: light-dark(beige, #928a8a);
  --color-cta-card-bg: light-dark(#a73f43, #6b292b);
  --dialog-bokse: light-dark(beige, #4c4b4b);
  --border-cta-btn: light-dark(black, #a73f43);

  /* news-cards */
  --color-news-bg: light-dark(lightgrey, #846767);
  --color-news-bg-inverted: light-dark(grey, #4c4b4b);
  --color-cta-newscard-bg: light-dark(#a73f43, #6b292b);
  --color-cta-newscard-bg-inverted: light-dark(#a73f43, #6b292b);

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(beige, #928a8a);
  --color-infobox-1-bg: light-dark(rgba(173, 216, 230, 0.701), #846767);
  --color-infobox-2-bg: light-dark(rgba(103, 171, 193, 0.69), #4c4b4b);

  /* forms*/
  --form-background-color: light-dark(beige, #928a8a);
}

html.dark {
  color-scheme: dark;
}

/* toggle knap */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 3rem;
  margin-left: 2rem;
  flex-shrink: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

/* Når den er ON */
input:checked + .slider {
  background-color: darkgray;
}

input:checked + .slider:before {
  transform: translateX(26px);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
}
